<style type="text/css">.error {color: red;}</style>

<h1>Contact</h1>
<form action="/contact" method="POST" novalidate>
  <div>
    {% with .Errors.Email %}
    <p class="error">{% . %}</p>
    {% end %}
    <label>Your email:</label>
    <input type="email" name="email" value="{% .Email %}">
  </div>
    <div>
      <label>Your name:</label>
      <input type="name" name="name" value="{% .Name %}">
    </div>
  <div>
    {% with .Errors.Content %}
    <p class="error" >{% . %}</p>
    {% end %}
    <label>Your message (min 100 chars):</label>
    <textarea name="message">{% .Content %}</textarea>
  </div>
  <input type="hidden" name="csrf_token" value="{% .Token %}">
  <div>
    <input type="submit" value="Send message">
  </div>
</form>
