<p>Homepage</p>

<form action="/" method="post">
  <input type="text" name="repo_url" value="Git repo URL">
  <input type="hidden" name="csrf_token" value="{% .Token %}">
  <input type="submit" value="Host">
</form>
