<h1>New Repo</h1>

<form>
  {% with .Site %}
  <input type="text" value="{% .RepositoryURL | default "Enter Repository URL" %}">
  <select>
    <option selected value="master">master</option>
  </select>
  <textarea name="private_key">{% .RepositoryPrivateKey | default "Private Key to access repository (if required)" %}</textarea>
  {% end %}
  <input type="hidden" name="csrf_token" value="{% .Token %}">
  <input type="submit" value="Host">
</form>
